

  .intro-section {
    height: 400px;
    background-color: #101010;
    color: #fff; /* White text color for better readability */
    padding: 120px 40px; /* Generous padding for a spacious layout */
    text-align: center;
    background-image: url("/images/christopher.png");
    background-size: cover;
    background-position-y: 30%;
    background-repeat: no-repeat;
  }

  .intro-section .container h1 span{
    color: #0d911f;
  }
  
  .intro-section .container{
    padding-top: 30px;
    display: block;
    float: right;
    width: 50%;
    

  }

  .intro-section h1 {
    font-size: 2.5rem; 
    margin-bottom: 24px; /* Space between the heading and paragraph */
    font-weight: 600; /* Medium font weight for the heading */
  }
  
  .intro-section p {
    max-width: 650px; /* Slightly wider paragraph for better readability */
    margin: 0 auto 30px; /* Centered paragraph with space below */
    line-height: 1.6; /* Increased line height for improved readability */
  }
  
  /* Styling for the Call-to-Action (CTA) button */
  .cta-button {
    background-color: #ffffff; /* White background for the button for contrast */
    color: rgb(0, 0, 0); /* Use the header's main color for the button text */
    padding: 12px 36px; /* Slightly larger padding */
    text-decoration: none;
    border-radius: 50px; /* More pronounced rounded corners for a modern look */
    font-weight: 500; /* Medium font weight */
    transition: all 0.3s ease;
    border: 2px solid transparent; /* Add a border for a button that can have hover effect */
  }
  
  .cta-button:hover {
    background-color: transparent;
    color: #fff; /* White text on hover for contrast */
    border-color: #ffffff; /* White border on hover */
  }
  
/* Media Query for tablets and below */
@media (max-width: 768px) {
  .intro-section {
    flex-direction: column; /* Stack items vertically on small screens */
    height: 85vh; /* Adjust height to content */
    background-position: center; /* Center background image */
    padding: 40px 20px; /* Adjusted padding */
  }

  .intro-section +.container {
    max-width: 100%; /* Full width for the container */
    margin: 20px 0; /* Adjust margin for vertical layout */
    text-align: center; /* Center text for smaller screens */
  }

  .intro-section h1 {
    font-size: 2rem; /* Slightly smaller font size */
  }
}

/* Additional adjustments for smaller devices like mobile phones */
@media (max-width: 480px) {
  .intro-section h1 {
    font-size: 1.75rem; /* Even smaller font size for very small screens */
  }
}